@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Материалы к заказам";
}
<div class="container mt-4">
    <h2>Список материалов к заказам</h2>

    <div class="mb-3">
        <input type="text" id="orderMaterialSearch" class="form-control" placeholder="Введите название заказа для поиска" />
    </div>

    <div id="orderMaterial-list">
        @Html.Partial("_OrderMaterialListPartial", Model)
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            const updateOrderMaterialList = (url, searchString) => {
                $.get(url, { searchString: searchString }, function (data) {
                    $("#orderMaterial-list").html(data);
                }).fail(function () {
                    alert("Ошибка при загрузке данных.");
                });
            };

            // Поиск по вводу текста
            $("#orderMaterialSearch").on("input", function () {
                const searchString = $(this).val();
                const url = '@Url.Action("Search", "OrderMaterial")';
                updateOrderMaterialList(url, searchString);
            });

            // Пагинация
            $(document).on("click", ".pagination a", function (e) {
                e.preventDefault();
                const url = $(this).attr("href");
                const searchString = $("#orderMaterialSearch").val();
                updateOrderMaterialList(url, searchString);
            });
        });

    </script>
}
